* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 15px;
    scroll-behavior: smooth;
}

/*estilos header*/

header {
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background: #312e2e;
    padding: 20px;
    display: flex;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 50px;
}

#logo {
    font-family: Arial Black;
    font-size: 25px;
}

#logo:hover {
    font-size: 30px;
}
nav a:hover {
    text-decoration-line: underline;
 
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

header a {
    color: white ;
    font-family: arial, black;
}

/* estilos seccion 1 */


#uno {
    background: ghostwhite;
    height: 390px;
    margin-bottom: 300px;
}

#uno h1 {
    text-align: center;
    font-size: 60px;
    font-family: Arial Black;
    padding-top: 40px;
    color:  #312e2e;
}



#uno h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}


#uno a {
    font-family: arial black;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 30px;
    padding: 2px 9px 2px 9px;
    color: black;
    margin-left: 610px; 
}

#uno p {
    text-align: center;
    padding-top: 30px;
    margin: auto;
    width: 685px;
}


.video iframe {
    display: block;
    margin: auto;
}

/*estilos seccion 2*/


#section2 .titulo {
    background-image: url(../img/banda.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    height: 300px;
    
}

#section2 .titulo p{
    font-size: 90px;
    text-align: center;
    padding-top: 75px;
    font-family: Arial Black;
    color: white;
    opacity: 0.85;
}


#section2 h2 {
    font-family: Arial Black;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 20px 0px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex div {
    
    padding-right: 20px;
    width: 30%;
    
}

#section2 h2, .flex {
    margin-left: 25px;
}





/*estilos seccion 3*/

#section3 {
    width: 1000px;
    padding: 150px 0 200px 0px;
    margin: auto;
}

#section3 h2 {
    font-family: Arial Black;
    font-size: 30px;
    text-align: center;
    padding: 0px 0 20px 0px;
}
.discos {
    height: 450px;
    margin: auto;    
}

.discos img {
    width: 500px;
    float: left;
    
}

.discos .contenido {
    float: left;
}

#section3 .discos h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: arial black;
}

#section3 .discos p {
    width: 300px;
    padding-bottom: 20px;
}

#section3 .discos a {
    color: black;
    font-family: arial black;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 30px;
    padding: 2px 9px 2px 9px;
}

#section3 a:hover{
    color: white;
    background: #312e2e;
}


/*estilos seccion 4*/

#section4 {
    background: ghostwhite;
    padding-bottom: 90px;
}

#section4 h2 {
    font-family: Arial Black;
    font-size: 30px;
    text-align: center;
    padding: 150px 0 20px 0px;
}

#section4 a{
    color: black;
    font-family: arial black;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 30px;
    padding: 2px 9px 2px 9px;
    text-align: center;
    margin-left: 40%;
    
}

#section4 a:hover{
    color: white;
    background: #312e2e;
}

.articulos{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

#section4 img{
    width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
}

#section4 article {
    width: 30%;
    padding: 50px;
}

#section4 h1{
    text-align: center;
    padding: 0px 0 15px 0;
}

#section4 p{
    display: none;
}

/*estilos footer*/

footer {
    background-color: #312e2e; 

}


footer img {
    width: 35px;
    display: inline-block;
    margin-bottom: 20px;
    
    
}
.redes{
    margin: 5px;
    text-align: center;
    
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 150px;
}

.fixed i {
   font-size: 30px;
    color: #312e2e;
}

.fixed i:hover{
    font-size: 33px;
}


footer p {
    padding-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
    font-family: arial;
    color: white;
}

/* mobile */

@media screen and (max-width: 768px) {
   nav {
       display: none;
   }

   #uno h1 {
       font-size: 30px;
   }

   .video iframe {
       width: 100%;
   }

   #uno p {
       width: 100%;
   }

   #section2 .titulo p {
       font-size: 40px;
   }

   #section3 {
       width: 100%;
   }
    
   .flex {
       flex-direction: column;
   }

   .flex div {
       width: 100%;
   }

   .discos {
       height: auto;
   }

   .discos img {
    float: none;
    width: 100%;
   }

   .discos .contenido {
       float: none;
   }

   .articulos {
       width: auto;
       flex-direction: column;
   }

   #section4 article {
       width: 100%;
   }

   .fixed {
       display: none;
   }
}