* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 15px;
    scroll-behavior: smooth;
}

/*estilos header*/

header {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #312e2e;
    padding: 20px;
    display: flex;
    margin: auto;
}


header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 50px;
}

#logo {
    font-family: Arial Black;
    font-size: 25px;
}

#logo:hover {
    font-size: 30px;
}
nav a:hover {
    text-decoration-line: underline;
 
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

header a {
    color: white ;
    font-family: arial, black;
}

header a:hover{
    color: white;
}

/* estilos seccion 1 */

#section1 img{
    width: 100%;
}

#uno {
    background: ghostwhite;
    height: 390px;
    margin-bottom: 300px;
}

#uno h1 {
    text-align: center;
    font-size: 60px;
    font-family: Arial Black;
    padding-top: 40px;
    color:  #312e2e;
}



#uno h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}


#uno a {
    font-family: arial black;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 30px;
    padding: 2px 9px 2px 9px;
    color: black;
    margin-left: 610px; 
}

#uno p {
    text-align: center;
    padding-top: 30px;
    margin: auto;
    width: 685px;
}


.video iframe {
    display: block;
    margin: auto;
}

/*estilos seccion 2*/


#section2 .titulo {
    background-image: url(../img/banda.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    height: 300px;
    
}

#section2 .titulo p{
    font-size: 90px;
    text-align: center;
    padding-top: 75px;
    font-family: Arial Black;
    color: white;
    opacity: 0.85;
}


#section2 h2 {
    font-family: Arial Black;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 20px 0px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex div {
    
    padding-right: 20px;
    width: 30%;
    
}

#section2 h2, .flex {
    margin-left: 25px;
}





/*estilos seccion 3*/

#section3 {
    width: 1000px;
    padding-top: 150px;
    margin: auto;
}

#section3 h2 {
    font-family: Arial Black;
    font-size: 30px;
    text-align: center;
    padding: 0px 0 20px 0px;
}
.discos {
    height: 450px;
    margin: auto;    
}

.discos img {
    width: 500px;
    float: left;
    
}

body #section3 .discos .contenido {
    float: left;
}

#section3 .discos h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: arial black;
}

#section3 .discos p {
    width: 300px;
    padding-bottom: 20px;
}

#section3 .discos a {
    color: black;
    font-family: arial black;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 30px;
    padding: 2px 9px 2px 9px;
}

#section3 a:hover{
    color: white;
    background: #312e2e;
}


/*estilos seccion 4*/

#section4 {
    background: ghostwhite;
    padding-bottom: 90px;
}

#section4 h2 {
    font-family: Arial Black;
    font-size: 30px;
    text-align: center;
    padding: 150px 0 20px 0px;
}

#section4 button {
    color: black;
    background: ghostwhite;
    font-family: arial black;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 30px;
    padding: 2px 9px 2px 9px;
    text-align: center;
    margin-left: 40%;
    
}

#section4 button:hover{
    color: white;
    background: #312e2e;
}

.articulos{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

#section4 img{
    width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
}

#section4 article {
    width: 30%;
    padding: 50px;
}

#section4 h1{
    text-align: center;
    padding: 0px 0 15px 0;
}

/*modal1*/
.modal1{
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background:rgb(210, 210, 221);
	display: flex;
	justify-content: center;
    align-items: center;
    display: none;
}

.modal1 article {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	width: 30%;
}

.modal1 article p {
    margin-bottom: 20px;
}

.modal1 article button {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: #333;
	font-size: 20px;
	border: none;
}

/*modal2*/

.modal2{
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background:rgb(210, 210, 221);
	display: flex;
	justify-content: center;
    align-items: center;
    display: none;
}

.modal2 article {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	width: 30%;
}

.modal2 article p {
    margin-bottom: 20px;
}

.modal2 article button {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: #333;
	font-size: 20px;
	border: none;
}

/*modal3*/

.modal3{
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background:rgb(210, 210, 221);
	display: flex;
	justify-content: center;
    align-items: center;
    display: none;
}

.modal3 article {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	width: 30%;
}

.modal3 article p {
    margin-bottom: 20px;
}

.modal3 article button {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: #333;
	font-size: 20px;
	border: none;
}

/*modal4*/
.modal4{
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background:rgb(210, 210, 221);
	display: flex;
	justify-content: center;
    align-items: center;
    display: none;
}

.modal4 article {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	width: 30%;
}

.modal4 article p {
    margin-bottom: 20px;
}

.modal4 article button {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: #333;
	font-size: 20px;
	border: none;
}

/*modal5*/

.modal5{
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background:rgb(210, 210, 221);
	display: flex;
	justify-content: center;
    align-items: center;
    display: none;
}

.modal5 article {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	width: 30%;
}

.modal5 article p {
    margin-bottom: 20px;
}

.modal5 article button {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: #333;
	font-size: 20px;
	border: none;
}

/*modal6*/

.modal6{
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background:rgb(210, 210, 221);
	display: flex;
	justify-content: center;
    align-items: center;
    display: none;
}

.modal6 article {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	width: 30%;
}

.modal6 article p {
    margin-bottom: 20px;
}

.modal6 article button {
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
	color: #333;
	font-size: 20px;
	border: none;
}

/*estilos footer*/

footer {
    background-color: #312e2e; 

}


footer img {
    width: 35px;
    display: inline-block;
    margin-bottom: 20px;
    
    
}
.redes{
    margin: 5px;
    text-align: center;
    
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 150px;
}

.fixed i {
   font-size: 30px;
    color: #312e2e;
}

.fixed i:hover{
    font-size: 33px;
}


footer p {
    padding-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
    font-family: arial;
    color: white;
}

.mobile {
    display: none;
}

/* mobile */

@media screen and (max-width: 768px) {
    nav {
        width: 60%;
        height: 100vh;
        position: fixed;
        left: -100%;
        top: 0;
        background: #312e2e;
        transition: left 1s;
    
    }

    .mobile {
        display: block;
        font-size: 30px;
    }

    nav i {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .mobile {
        color: white;
    }

    nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header{
        position: fixed;
        width: 100%;
    }

    header nav ul li {
        margin: 30px 0;
    }

    header nav ul li a {
        font-size: 25px;
    }

 
    #uno h1 {
        font-size: 50px;
    }
 
    #section1 img {
        display: none;
    }
 
    .video{
        margin: 25px;
    }
    .video iframe {
        width: 100%;
    }
 
    #uno p {
        width: 100%;
    }

    #section2 {
        padding-top: 50px;
    }
 
    #section2 .titulo p {
        font-size: 70px;
    }
 
    #section3 {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
     
    .flex {
        flex-direction: column;
    }
 
    .flex div {
        width: 100%;
    }
 
    .discos {
        height: auto;
        margin: 10px;
        padding-bottom: 50px;
    }
 
    #section3 .discos h1 {
        padding-top: 0;
        font-size: 18px;
        
    }

    #section3 h2 {
        margin-top: 50px;
    }

    #section4 h2 {
        padding-top: 75px;
    }
 
    .discos img {
     float: none;
     width: 100%;
     margin: auto;
     padding: 0 25px 0 25px;
    }
 
    body #section3 .discos .contenido {
        float: none;
        width: 60%;
        margin: auto;
    }
 
    
    .articulos {
        width: auto;
        flex-direction: column;
    }
 
    #section4 article {
        width: 100%;
    }
 
    .fixed {
        display: none;
    }
 
    #section4 img{
        display: block;
    }
 

    #section4 button {
        margin: auto;
        display: block;
    }

  











}